<%= render :partial => 'layouts/header' %>
<br />
<br />
<div class="span10 offset1 well">
<h1>Editing Recommendation</h1>

<%= render 'form' %>

<%= link_to 'Show', @areco %> |
<%= link_to 'Back', arecos_path %>
</div>