<%= render :partial => 'layouts/header' %>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="span12 offset1 well">
<h1>Edit</h1>

<%= render 'form' %>

<%= link_to 'Show', @ainit %> |
<%= link_to 'Back', ainits_path %>
</div>