
  <h2>Questionnaries</h2>

<br>
<br>
<div="container">
<div ="span12 offset1 well">
  <div class="tabbable tabs-left"> 
    <ul class="nav nav-tabs">
      <!-- <li><a href="#12" data-toogle="tab">Security policy</a></li><br /> -->
      <li><a href="#1" data-toggle ="tab">Security Policy</a></li><br />
      <li><a href="#2" data-toggle ="tab">Organization of information security</a></li><br />
      <li><a href="#3" data-toggle ="tab">Asset Management</a></li><br />
      <li><a href="#4" data-toggle ="tab">Human Resources Security</a></li><br />
      <li><a href="#5" data-toggle ="tab">Physical and Environmental Security</a></li><br />
      <li><a href="#6" data-toggle ="tab">Communications and Operations Management</a></li><br />
      <li><a href="#7" data-toggle ="tab">Access Control</a></li><br />
      <li><a href="#8" data-toggle ="tab">Information systems acquisition, development and maintenance</a></li><br />
      <li><a href="#9" data-toggle ="tab">Information security incident management</a></li><br />
      <li><a href="#10" data-toggle ="tab">Business Continuity management</a></li><br />
      <li><a href="#11" data-toggle ="tab">Compliance</a></li><br />

    </ul>
    <!-- for Security  -->
    <div class="tab-content" >
      <div class="tab-pane" id ="1">
        <h2>Information security policy</h2>
        <p>Review of the information security policy</p>
        <p>Information Security Policy document</p>
      </div>
      <div class="tab-pane" id="2">
        <h2>Internal Organization</h2>
        <p>Management commitment to information security</p>
        <p>Information security coordination
        </p>
        <p>Allocation of information security responsibilities</p>
        <p>Authorization process for information processing facilities</p>
        <p>Confidentiality agreements</p>
        <p>Contact with authorities</p>
        <p>Contact with special interest groups</p>
        <p>Independent review of information security</p>

        <h2>External Parties</h2>
        <p>Identification of risks related to external parties</p>
        <p>Addressing security when dealing with customers</p>
        <p>Addressing security in third party agreements</p>
      </div>
      <div class="tab-pane" id="3">
        <h2>Responsibility for Assets</h2>
          <p>Acceptable use of assets</p>
          <p>Ownership of assets</p>
          <p>Inventory of Assets</p>
        <h2>Information classification</h2>
          <p>Classification guidelines</p>
            <p>Information labeling and handling</p>
      </div>
      <div class="tab-pane" id="4">
        <h2> Prior to employment</h2>
        <p>Roles and responsibilities</p>
          <p>Screening</p>
          <p>Terms and conditions of employment</p>
       <h2> During employment</h2>
         <p> Management responsibilities</p>
         <p>Information security awareness, education and training</p>
          <p>Disciplinary process</p>

        <h2>Termination or change of employment</h2>
        <p>Termination responsibilities</p>
        <p>Return of assets</p>
        <p>Removal of access rights<p>

      </div>
      <div class="tab-pane" id="5">
       <h2>Secure Areas</h2>
       <p>Physical security perimeter</p>
       <p>Physical entry controls</p>
       <p>Securing offices, rooms and facilities</p>
       <p>Protecting against external and environmental attacks</p>
       <p>Working in secure areas</p>
       <p>Public access, delivery and loading areas</p>

       <h2>Equipment security</h2>
       <p>Removal of property</p>
       <p>Secure disposal or re-use of equipment</p>
       <p>Security of equipment off-premises</p>
       <p>Equipment maintenance</p>
       <p>Cabling Security</p>
       <p>Supporting utilities</p>
       <p>Equipment siting and protection</p>
      </div>
      <div class="tab-pane" id="6">
        <h2>Operational procedures and responsibilities</h2>
        <p>Documented operating procedures</p>
        <p>Change management</p>
        <p>Segregation of duties</p>
        <p>Separation of development, test and operational facilities</p>
        <h2>Third party service delivery management</h2>
        <p>Service delivery</p>
        <p>Monitoring and review of third party services</p>
        <p>Managing changes to third party services</p>
        <h2>System planning and acceptance</h2>
        <p>Capacity management</p>
        <p>System acceptance</p>
        <h2>Protection against malicious and mobile code</h2>
        <p>Controls against malicious code</p>
        <p>Controls against mobile code</p>
        <h2>Back-up</h2>
        <p>Information back-up</p>
        <h2>Network security management</h2>
        <p>Network controls</p>
        <p>Security of network services</p>
        <h2>Media handling</h2>
        <p>Management of removable media</p>
        <p>Disposal of media</p>
        <p>Information handling procedures</p>
        <p>Security of system documentation</p>
        <h2>Exchange of information</h2>
        <p>Information exchange policies and procedures</p>
        <p>Exchange agreements</p>
        <p>Physical media in transit</p>
        <p>Electronic messaging</p>
        <p>Business information systems</p>
        <h2>E-commerce services</h2>
        <p>Electronic commerce</p>
        <p>On-line transactions</p>
        <p>Publicly available information</p>
        <h2>Monitoring</h2>
        <p>Audit logging</p>
        <p>Monitoring system use</p>
        <p>Protection of log information</p>
        <p>Administrator and operator logs</p>
        <p>Fault logging</p>
        <p>Clock synchronisation</p>        
      </div>
      <div class="tab-pane" id="7">
        <h2>Business requirements for access control</h2>
        <p>Access control policy</p>
        <h2>User access management</h2>
        <p>User registration</p>
        <p>Privilege management</p>
        <p>User password management</p>
        <p>Review of user access rights</p>
        <h2>User responsibilities</h2>
        <p>Password use</p>
        <p>Unattended user equipment</p>
        <p>Clear desk and clear screen policy</p>
        <h2>Network access control</h2>
        <p>Policy on use network services</p>
        <p>User authentication for external connections</p>
        <p>Equipment identification in networks</p>
        <p>Remote diagnostic and configuration port protection</p>
        <p>Segregation in networks</p>
        <p>Network connection control</p>
        <p>Network routing control</p>
        <h2>Operating system access control</h2>
        <p>Secure log-on procedures</p>
        <p>User identification and authentication</p>
        <p>Password management system</p>
        <p>Use of system utilities</p>
        <p>Session time-out</p>
        <p>Limitation of connection time</p>
        <h2>Application and information access control</h2>
        <p>Information access restriction</p>
        <p>Sensitive system isolation</p>
        <h2>Mobile computing and teleworking</h2>
        <p>Mobile computing and communications</p>
        <p>Teleworking</p>
      </div>
      <div class="tab-pane" id="8">
        <h2>Security requirements of information systems</h2>
        <p>Security requirements analysis and specification</p>
        <h2>Correct processing in applications</h2>
        <p>Input data validation</p>
        <p>Control of internal processing</p>
        <p>Message integrity</p>
        <p>Output data validation</p>
        <h2>Cryptographic controls</h2>
        <p>Policy on the use of cryptographic controls</p>
        <p>Key management</p>
        <h2>Security of system files</h2>
        <p>Control of operational software</p>
        <p>Protection of system test data</p>
        <p>Access control to program source code</p>
        <h2>Security in development and support processes</h2>
        <p>Change control procedures</p>
        <p>Technical review of applications after operating system changes</p>
        <p>Restrictions on changes to software packages</p>
        <p>Information leakage</p>
        <p>Outsourced software development</p>
        <h2>Technical Vulnerability Management</h2>
        <p>Control of technical vulnerabilities</p>        
      </div>
      <div class="tab-pane" id="9">
        <h2>Reporting information security events and weaknesses</h2>
        <p>Reporting information security events</p>
        <p>Reporting weaknesses</p>
        <h2>Management of information security incidents and improvements</h2>
        <p>Responsibilities and procedures</p>
        <p>Learning from information security incidents</p>
        <p>Collection of evidence</p>
      </div>
      <div class="tab-pane" id="10">
        <h2>Information security aspects of business continuity management</h2>
        <p>Including information security in the business continuity management process</p>
        <p>Business continuity and risk assessment</p>
        <p>Developing and implementing continuity plans including information security</p>
        <p>Business continuity planning framework</p>
        <p>Test maintaining and re-assessing business continuity plans</p>
      </div>
      <div class="tab-pane" id="11">
        <h2>Compliance with legal requirements</h2>
        <p>Identification of applicable legislation</p>
        <p>Intellectual Property Rights (IPR)</p>
        <p>Protection of organisational records</p>
        <p>Data protection and privacy of personal information</p>
        <p>Prevention of misuse of information processing facilities</p>
        <p>Regulation of cryptographic controls</p>
        <h2>Compliance with security policies & standards, & technical compliance</h2>
        <p>Compliance with security policies and standards</p>
        <p>Technical compliance checking</p>
        <h2>Information systems audit considerations</h2>
        <p>Information systems audit controls</p>
        <p>Protection of information system audit tools</p>
      </div>
    </div>
  </div>
</div>
</div>
<%= button_to "Save", :method => :get, :class => "btn btn-primary" %>
