
  <h2>Questionnaries</h2>

<br>
<br>
<div="container">
<div ="span12 offset1 well">
  <div class="tabbable tabs-left"> 
    <ul class="nav nav-tabs">
      <!-- <li><a href="#12" data-toogle="tab">Security policy</a></li><br /> -->
      <li><a href="#1" data-toggle ="tab">Security Policy</a></li><br />
      <li><a href="#2" data-toggle ="tab">Organization of information security</a></li><br />
      <li><a href="#3" data-toggle ="tab">Asset Management</a></li><br />
      <li><a href="#4" data-toggle ="tab">Human Resources Security</a></li><br />
      <li><a href="#5" data-toggle ="tab">Physical and Environmental Security</a></li><br />
      <li><a href="#6" data-toggle ="tab">Communications and Operations Management</a></li><br />
      <li><a href="#7" data-toggle ="tab">Access Control</a></li><br />
      <li><a href="#8" data-toggle ="tab">Information systems acquisition, development and maintenance</a></li><br />
      <li><a href="#9" data-toggle ="tab">Information security incident management</a></li><br />
      <li><a href="#10" data-toggle ="tab">Business Continuity management</a></li><br />
      <li><a href="#11" data-toggle ="tab">Compliance</a></li><br />

    </ul>
    <!-- for Security  -->
    <div class="tab-content" >
      <div class="tab-pane" id ="1">
        <h4>Information security policy</h4>
        <p>Review of the information security policy</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Information Security Policy document</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
      </div>
      <div class="tab-pane" id="2">
        <h4>Internal Organization</h4>
        Management commitment to information security 
 <p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
        <br /><br />
       Information security coordination<p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
        <br /><br />
       Allocation of information security responsibilities<p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Authorization process for information processing facilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Confidentiality agreements</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Contact with authorities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Contact with special interest groups</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Independent review of information security</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />

        <h2>External Parties</h2>
        <p>Identification of risks related to external parties</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Addressing security when dealing with customers</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Addressing security in third party agreements</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
      </div>
      <div class="tab-pane" id="3">
        <h4>Responsibility for Assets</h4>
          <p>Acceptable use of assets</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
          <p>Ownership of assets</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
          <p>Inventory of Assets</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Information classification</h2><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
          <p>Classification guidelines</p>
            <p>Information labeling and handling</p>
      </div>
      <div class="tab-pane" id="4">
        <h4> Prior to employment</h4>
        <p>Roles and responsibilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
          <p>Screening</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
          <p>Terms and conditions of employment</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <h2> During employment</h2><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
         <p> Management responsibilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
         <p>Information security awareness, education and training</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
          <p>Disciplinary process</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />

        <h2>Termination or change of employment</h2>
        <p>Termination responsibilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Return of assets</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Removal of access rights<p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />

      </div>
      <div class="tab-pane" id="5">
       <h4>Secure Areas</h4>
       <p>Physical security perimeter</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Physical entry controls</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Securing offices, rooms and facilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Protecting against external and environmental attacks</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Working in secure areas</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Public access, delivery and loading areas</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />

       <h4>Equipment security</h4>
       <p>Removal of property</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Secure disposal or re-use of equipment</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Security of equipment off-premises</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Equipment maintenance</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Cabling Security</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Supporting utilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
       <p>Equipment siting and protection</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
      </div>
      <div class="tab-pane" id="6">
        <h4>Operational procedures and responsibilities</h4>
        <p>Documented operating procedures</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Change management</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Segregation of duties</p>
        <p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Separation of development, test and operational facilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Third party service delivery management</h2>
        <p>Service delivery</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Monitoring and review of third party services</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Managing changes to third party services</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>System planning and acceptance</h2><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Capacity management</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>System acceptance</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Protection against malicious and mobile code</h2>
        <p>Controls against malicious code</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Controls against mobile code</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Back-up</h2>
        <p>Information back-up</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Network security management</h2><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Network controls</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Security of network services</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Media handling</h2>
        <p>Management of removable media</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Disposal of media</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Information handling procedures</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Security of system documentation</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Exchange of information</h2>
        <p>Information exchange policies and procedures</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Exchange agreements</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Physical media in transit</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Electronic messaging</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Business information systems</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>E-commerce services</h2><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Electronic commerce</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>On-line transactions</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Publicly available information</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Monitoring</h2>
        <p>Audit logging</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Monitoring system use</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Protection of log information</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Administrator and operator logs</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Fault logging</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Clock synchronisation</p>   <p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />     
      </div>
      <div class="tab-pane" id="7">
        <h4>Business requirements for access control</h4>
        <p>Access control policy</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>User access management</h2>
        <p>User registration</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Privilege management</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>User password management</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Review of user access rights</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>User responsibilities</h4>
        <p>Password use</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Unattended user equipment</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Clear desk and clear screen policy</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Network access control</h4>
        <p>Policy on use network services</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>User authentication for external connections</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Equipment identification in networks</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Remote diagnostic and configuration port protection</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Segregation in networks</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Network connection control</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Network routing control</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Operating system access control</h2>
        <p>Secure log-on procedures</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>User identification and authentication</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Password management system</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Use of system utilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Session time-out</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Limitation of connection time</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Application and information access control</h4>
        <p>Information access restriction</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Sensitive system isolation</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Mobile computing and teleworking</h4>
        <p>Mobile computing and communications</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Teleworking</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
      </div>
      <div class="tab-pane" id="8">
        <h4>Security requirements of information systems</h4>
        <p>Security requirements analysis and specification</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Correct processing in applications</h4>
        <p>Input data validation</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Control of internal processing</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Message integrity</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Output data validation</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h2>Cryptographic controls</h4>
        <p>Policy on the use of cryptographic controls</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Key management</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Security of system files</h4>
        <p>Control of operational software</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Protection of system test data</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Access control to program source code</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Security in development and support processes</h4>
        <p>Change control procedures</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Technical review of applications after operating system changes</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Restrictions on changes to software packages</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Information leakage</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Outsourced software development</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Technical Vulnerability Management</h4>
        <p>Control of technical vulnerabilities</p>  <p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />      
      </div>
      <div class="tab-pane" id="9">
        <h4>Reporting information security events and weaknesses</h4>
        <p>Reporting information security events</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Reporting weaknesses</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Management of information security incidents and improvements</h4>
        <p>Responsibilities and procedures</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Learning from information security incidents</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Collection of evidence</p>
      </div>
      <div class="tab-pane" id="10">
        <h4>Information security aspects of business continuity management</h4>
        <p>Including information security in the business continuity management process</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Business continuity and risk assessment</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Developing and implementing continuity plans including information security</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Business continuity planning framework</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Test maintaining and re-assessing business continuity plans</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
      </div>
      <div class="tab-pane" id="11">
        <h4>Compliance with legal requirements</h4>
        <p>Identification of applicable legislation</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Intellectual Property Rights (IPR)</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Protection of organisational records</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Data protection and privacy of personal information</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Prevention of misuse of information processing facilities</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Regulation of cryptographic controls</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Compliance with security policies & standards, & technical compliance</h4>
        <p>Compliance with security policies and standards</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Technical compliance checking</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <h4>Information systems audit considerations</h4>
        <p>Information systems audit controls</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
        <p>Protection of information system audit tools</p><p></p><input type="radio">Yes</input> &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio">No</input>
       <br />
       <br />
      </div>
    </div>
  </div>
</div>
</div>
<%= button_to "Save", :method => :get, :class => "btn btn-primary" %>
