<html>
<body>
<div id="wrapper">

  <!-- code for top -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav pull-left">
      <li><a href="/">FixNix<li>
      <li><a href="/main/mods">Modules</a></li>
      <li><a href="/main/pricing">Pricing</a></li>
    </ul>
    <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="log_in"></i>Login</a></li>
                            <br />
                            <li><a href="sign_up"></i>Sign Up</a></li>
                        </ul>
                    </li>
                </ul>
  </div>
</div>
<!-- end of top -->
<div id="content" class="container">
  <div class="row-fluid">
    <div class="offset1 span9">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <a class="symbolic-link" href="/main/mods">
        <div class="well">
          <div class="well-header">
            <h2 class="centered">Modules</h2>
          </div>
          <div class="inner well">
            <ul class="checkmark" style="margin-top :10px margin-botton: 20px; min-height :180px;">
              <li style= "light">
                <i class="ss-check-light" style="margin-right: 7px;"></i>Audit Management</li>
                <li style= "light">
                <i class="ss-check-light" style="margin-right: 7px;"></i>Risk Management</li>
            </ul>
            <button class="btn btn-primary btn-block">Subcribe</button>
          </div>
        </div>
      </a>
    </div><div class="span6">
      <a class="symbolic-link" href="/main/mods">
        <div class="well">
          <div class="well-header">
            <h2 class="centered">Modules</h2>
          </div>
          <div class="inner well">
            <ul class="checkmark" style="margin-top :10px margin-botton: 20px; min-height :180px;">
              <li style= "light">
                <i class="ss-check-light" style="margin-right: 7px;"></i>Audit Management</li>
                <li style= "light">
                <i class="ss-check-light" style="margin-right: 7px;"></i>Risk Management</li>
            </ul>
            <button class="btn btn-primary btn-block">Subcribe</button>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="well">
      <div class="inner-well ">
        <div class="row-fluid">
          <div class="centered" style="margin-top: -5px; margin-bottom: 0"><h5>FixNix GRC</h5>
          </div>
          <a href="/main/mods" class="symbolic-link-hidden">
            <div class="span4">
              <div class="padding centered">
                <img src="http://ooomf.com/img/ProjectsIcon@2x.png" width="100px" height="100px" alt="Modules"></img>
                <h2 style="margin-bottom: 0px ; font-size:16px;">Modules</h2>
                <p class="light" style="font-size :14px; line-height: 18px;">Two types of modules audit and risk manager</p>
              </div>

            </div>
          </a>
          <a href="/main/mods" class="symbolic-link-hidden">
            <div class="span4">
              <div class="padding centered">
                <img src="http://ooomf.com/img/ProjectsIcon@2x.png" width="100px" height="100px" alt="Modules"></img>
                <h2 style="margin-bottom: 0px ; font-size:16px;">Modules</h2>
                <p class="light" style="font-size :14px; line-height: 18px;">Two types of modules audit and risk manager</p>
              </div>

            </div>
          </a>
          <a href="/main/mods" class="symbolic-link-hidden">
            <div class="span4">
              <div class="padding centered">
                <img src="http://ooomf.com/img/ProjectsIcon@2x.png" width="100px" height="100px" alt="Modules"></img>
                <h2 style="margin-bottom: 0px ; font-size:16px;">Modules</h2>
                <p class="light" style="font-size :14px; line-height: 18px;">Two types of modules audit and risk manager</p>
              </div>

            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- start of footer -->
<footer class="footer " >
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <p>
          <a style="font-size :16px" target="_blank" href="http://www.fixrnix.in">FixNix InfoSec Solution</a>
        </p>
      </div>
      <div class="span3">
        <ul class="unstyled">
          <li><a href="/main/mod">Module</a>
          </li><li><a href="/main/mod">Subscription</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- end of footer -->

</div>
</body>
</html>