	    <div class="navbar navbar-inverse">
	    	<div class="navbar-inner">
	    		<div class="container-fluid">
	    			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    				<span class="icon-bar"></span>
	    				<span class="icon-bar"></span>
	    				<span class="icon-bar"></span>
	    			</a>
	    			<a class="brand" href="#" name="top">FixNix Audit Management</a>
	    			<div class="btn-group pull-right">
	    				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    					<i class="icon-user"></i> admin <span class="caret"></span>
	    				</a>
	    				<ul class="dropdown-menu">
	    					<li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
	    					<li class="divider"></li>
	    					<li><a href="#"><i class="icon-share"></i> Logout</a></li>
	    				</ul>
	    			</div>
	    		</div>
	    		<!--/.nav-collapse -->
	    	</div>
	    	<!--/.container-fluid -->

	    </div>
	    <!--/.navbar-inner -->
	    <div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#"><i class="icon-home"></i> Dashboard</a></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Audit", ainits_path %>
					<li class="divider-vertical"></li>
					<li><%= link_to "Report", areports_path %>
					
					
					<li class="divider-vertical"></li>
					<li><%= link_to "Action", aactios_path%>
					<li class="divider-vertical"></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!--/.container-fluid -->
	</div>
	<!--/.navbar-inner -->
</div>
<!--/.navbar -->
	</div>
	<!--/.navbar -->

