<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "css/bootstrap.css", :media => "all" %>
  <%= javascript_include_tag "js/bootstrap.js" %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/favicon.png" type="image/png" />
</head>
<body>
<%= yield %>

</body>
</html>
